<div class="row justify-content-center">
  <div class="col-8">
    <h1>Edit <%= singular_table_name.capitalize %></h1>

    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
